// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
	margin-left:15px;
	font-size:1.5em;
	font-weight:bold;
}

.books-table{
	width:1000px;
	margin-left:15px;
	margin-bottom:10px;
}
table{
	width:0px;

}
th{
	text-align:center;
	width:100px;
}
h2{
	margin-left:15px;
	font-size:1.5em;
}